.tamanho{
	width: 120px;
	left: 170px;
	position: relative;
}

.link1{
	position: relative;
	left: 1140px;
	bottom: 30px;
	text-decoration: none;
}
.link2{
	position: relative;
	left: 1150px;
	bottom: 30px;
	text-decoration: none;
}
.link3{
	position: relative;
	text-decoration: none;
	top: 20px;
	left: 170px;

}

.texto1{
	text-align: center;
	font-size: 18px;
    top: 100px;
}
.texto2{
	text-align: center;
	font-size: 18px;
	
}
.texto3{
	text-align: center;
	font-size: 18px;
	padding: 50px;

}

.borda1{
	border: 1px solid #3b4bda;
	width: 24%;
	height: 150px;
	position: relative;
	top: 322px;
	left: 170px;
	border-radius: 5px;
}

.borda2{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 24%;
	height: 150px;
	left: 550px;
	top: 170px;
}
.borda3{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 24%;
	height: 150px;
	top: 200px;
	left: 170px;

}
.borda4{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 24%;
	height: 150px;
	left: 930px;
	bottom: 134px;
	
}
.borda6{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 24%;
	height: 150px;
	left: 550px;
	bottom: 103px;
}
.borda7{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 24%;
	height: 150px;
	left: 930px;
	bottom: 255px;
}

/*
.borda1{
	border: 1px solid #3b4bda;
	width: 350px;
	height: 150px;
	position: relative;
	top: 322px;
	left: 170px;
	border-radius: 5px;
}

.borda2{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 350px;
	height: 150px;
	left: 550px;
	top: 170px;
}
.borda3{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 350px;
	height: 150px;
	top: 200px;
	left: 170px;

}
.borda4{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 350px;
	height: 150px;
	left: 930px;
	bottom: 134px;
	
}
.borda6{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 350px;
	height: 150px;
	left: 550px;
	bottom: 103px;
}
.borda7{
	border: 1px solid #3b4bda;
	position: relative;
	border-radius: 5px;
	width: 350px;
	height: 150px;
	left: 930px;
	bottom: 255px;
}
*/

form {
	display: flex;
	align-items: center;
	height: 40px;
	background-color: #f2f2f2;
	border-radius: 20px;
	padding: 0 10px;
	width: 210%;
  }
  
  input[type="text"] {
	flex-grow: 1;
	border: none;
	outline: none;
	background-color: transparent;
  }
  
  button[type="submit"] {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	margin-left: 10px;
  }

.container {
    position: absolute;
  }
  
  .container img {
    display: block;
    max-width: 100%;
    height: 120%;
  }
  
 .search-container {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: auto;
  }

  /* estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
	.borda1 {
	   width: 30%;
	   left: 5%;
	}
	.borda2 {
	   width: 30%;
	   left: 25%;
	}
	.borda3 {
	   width: 30%;
	   left: 45%;
	}
	.borda4 {
		width: 30%;
		left: 5%;
	 }
	 .borda6 {
		width: 30%;
		left: 25%;
	 }
	 .borda7 {
		width: 30%;
		left: 45%;
	 }
 }
 form {
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
  }
  
  .container img {
    max-width: 100%;
    height: 100%;
  }
  
 .search-container {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
	max-width: 80%;
	height: 20%;
  }
 /* estilos para tablets e desktops */
 @media only screen and (min-width: 601px) {
	.borda1 {
	   width: 24%;
	   left: 170px;
	}
	.borda2 {
	   width: 24%;
	   left: 550px;
	}
	.borda3 {
	   width: 24%;
	   left: 930px;
	   top: 18px;
	}
	.borda4 {
		width: 24%;
		left: 170px;
		top: 49px;
	 }
	 .borda6 {
		width: 24%;
		left: 550px;
	 }
	 .borda7 {
		width: 24%;
		left: 930px;
	 }
	 form {
		display: flex;
		align-items: center;
		height: 40px;
		width: 100%;
	  }
	  
	  .container img {
		max-width: 80%;
		height: 80%;
	  }
	  
	 .search-container {
		position: absolute;
		top: 50%;
		left: 40%;
		transform: translate(-50%, -50%);
		max-width: 80%;
		height: 20%;
	  }
 }